<%- include('partials/_htmlhead'); -%>
    <h1>
        <%= title %>
    </h1>
    <% if (data) { %>
        <p>Données reçues lors de la dernière requête :</p>
        <table>
            <% for (const name in data) { %>
                <tr>
                    <th>
                        <%= name %>:
                    </th>
                    <td>
                        <%= data[name] %>
                    </td>
                </tr>
                <% } %>
        </table>
        <% } %>
            <p>Formulaire de saisie:</p>
            <form action="/post-form" method="POST">
                <div>
                    <label for="name">Votre nom</label>
                    <input type="text" id="name" name="name" value="<%= data.name
%>" />
                </div>
                <div>
                    <label for="job">Votre métier</label>
                    <input type="text" id="job" name="job" value="<%= data.job %>" />
                </div>
                <div>
                    <label for="nodejs">Aimez-vous Node.js ?</label>
                    <input type="checkbox" id="nodejs" name="nodejs" value="yes" <% if (data.nodejs) { %> checked<% } %>
                        />
                </div>
                <input type="hidden" name="date" value="<%= new Date(); %>" />
                <button>submit</button>
            </form>
            <%- include('partials/_htmlfoot'); -%>